.student-account {
  width: 75%;

  & > * {
    margin-bottom: 32px;
  }

  .student-account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .student-header {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: 16px;
        min-width: 64px;
      }
    }
  }

  .inputs-block {
    margin-bottom: 16px;
  }

  .company-select {
    &__row {
      display: flex;
      justify-content: space-between;
    }
  }

  .company-name {
    margin-right: 8px;
  }

  .interview-datetime {
    pointer-events: none;
  }

  .buttons-block {
    display: flex;
    justify-content: flex-end;
  }
}
