<div
  *ngIf="true; else loader"
  [formGroup]="form"
  class="app-container student-account"
>
  <div class="student-account-header">
    <div class="student-header">
      <ion-avatar class="avatar" slot="start">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDmXKGtyS5klcNlruWA5SEDx4gr0YckGnHkA&usqp=CAU"
        />
      </ion-avatar>
      <div class="info">
        <h1 class="user-name">{{ student$ | async | fullName }}</h1>
      </div>
    </div>
  </div>
  <ion-card class="inputs-block">
    <ion-card-content>
      <ion-input
        placeholder="Ссылка на портфолио"
        formControlName="info"
      ></ion-input>
      <ion-item>
        <ion-label>Специализации</ion-label>
        <ion-select multiple formControlName="specializations">
          <ion-select-option
            *ngFor="let specialization of allSpecializations$ | async"
            [value]="specialization.id"
          >
            {{ specialization.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Технологии</ion-label>
        <ion-select multiple formControlName="technologies">
          <ion-select-option
            *ngFor="let technology of allTechnologies$ | async"
            [value]="technology.id"
          >
            {{ technology.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="priorities-block">
    <ion-card-header><h3>Приоритеты студента</h3></ion-card-header>
    <ion-card-content class="company-account__item company-select">
      <ion-button size="small">Добавить</ion-button>
      <div class="company-select__row">
        <ion-select interface="alert" placeholder="Добавьте компанию">
          <ion-select-option value="123">Иван Меньщиков</ion-select-option>
          <ion-select-option value="123">Дмитрий Аванесов</ion-select-option>
          <ion-select-option value="123">Герман Одилов</ion-select-option>
        </ion-select>
        <ion-button fill="clear" shape="round">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="company-select__row">
        <ion-select interface="alert" placeholder="Добавьте компанию">
          <ion-select-option value="123">Иван Меньщиков</ion-select-option>
          <ion-select-option value="123">Дмитрий Аванесов</ion-select-option>
          <ion-select-option value="123">Герман Одилов</ion-select-option>
        </ion-select>
        <ion-button fill="clear" shape="round">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <h3>Собеседования</h3>
    <ion-list lines="none">
      <ion-item *ngFor="let interview of interviews$ | async">
        <ion-label>
          <ion-text class="company-name">
            {{ interviewCompanies[interview.id]?.userName }}
          </ion-text>
          <ion-text color="medium">
            {{ interviewPositions[interview.id]?.name }}
          </ion-text>
        </ion-label>
        <ion-datetime
          class="interview-datetime"
          displayFormat="DD.MM.YYYY HH:mm"
          [value]="interview.date"
          placeholder="Не назначено"
          [disabled]="interview.state === 2"
        ></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>
  <div class="buttons-block">
    <ion-button (click)="save()" class="save-button" color="primary">
      Сохранить
    </ion-button>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
