.student {
  ion-col {
    display: flex;
    padding-bottom: 16px;

    .student-header {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: 16px;
      }

      .info {
        .user-name {
          margin: 0 0 5px;
        }

        .portfolio {
          text-decoration: none;
        }
      }
    }
  }
}
