.student-account {
  width: 75%;
  margin: 0 auto;

  .student-account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    .student-header {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: 16px;
        min-width: 64px;
      }
    }
  }

  .inputs-block {
    margin-bottom: 16px;
  }

  .company-select {
    &__row {
      display: flex;
      justify-content: space-between;
    }
  }
}
