<div class="app-container company">
  <h1>{{ (company$ | async)?.userName }}</h1>
  <ion-button
    *ngIf="(userRoles$ | async) && (userRoles$ | async)[0] === adminRole"
    [routerLink]="['/admin', 'company', (company$ | async)?.id]"
    >Редактировать</ion-button
  >
  <ion-grid>
    <ion-row class="company__header">
      <h1>Company Name</h1>
      <div class="company__interview">
        <ion-button
          [disabled]="!positionId || (interview$ | async)"
          (click)="handleInterviewButtonClick()"
        >
          {{
            (interview$ | async)
              ? (interview$ | async).date
                ? "Собеседование " + (interview$ | async).date
                : "Заявка отправлена"
              : "Записаться на собеседование"
          }}
        </ion-button>
        <ion-select
          interface="alert"
          placeholder="Выберите позицию"
          (ionChange)="handlePositionChange($event)"
        >
          <ion-select-option
            *ngFor="let position of positions"
            [value]="position.id"
          >
            {{ position.name }}
          </ion-select-option>
        </ion-select>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size-lg="8" size-xs="12">
        <ion-card class="priority">
          <ion-card-header>
            <ion-card-title>Приоритеты компании</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div>
              <div
                *ngFor="let specialization of specializations"
                class="priority__specialization"
              >
                <div
                  class="priority__specialization-header"
                  (click)="toggleSpecialization(specialization.id)"
                >
                  <ion-button
                    class="priority__toggle-button"
                    fill="clear"
                    shape="round"
                  >
                    <ion-icon
                      [name]="
                        specialization.isOpen
                          ? 'arrow-down-outline'
                          : 'arrow-up-outline'
                      "
                    ></ion-icon>
                  </ion-button>
                  <p class="priority__specialization-title">
                    {{ specialization.name }}
                  </p>
                </div>
                <ion-list *ngIf="specialization.isOpen">
                  <app-priority-students-list-item
                    *ngFor="let student of students"
                    [student]="student"
                  ></app-priority-students-list-item>
                </ion-list>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-xs="12">
        <ion-card class="common-info">
          <ion-card-header>
            <ion-card-title>Общая информация</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{ (company$ | async)?.info }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
