<ion-card class="card">
  <ion-card-content>
    <ion-grid class="student-score">
      <ion-row class="table-header">
        <ion-col [size]="6">
          <ion-text color="primary">Дисциплина</ion-text>
        </ion-col>
        <ion-col [size]="4"
          ><ion-text color="primary">Вид контроля</ion-text>
        </ion-col>
        <ion-col [size]="2">
          <ion-text color="primary">Оценка</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [size]="6"> Процессы разработки </ion-col>
        <ion-col [size]="4"> Экзамен </ion-col>
        <ion-col [size]="2"> 5 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [size]="6"> Процессы разработки </ion-col>
        <ion-col [size]="4"> Экзамен </ion-col>
        <ion-col [size]="2"> 5 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [size]="6"> Процессы разработки </ion-col>
        <ion-col [size]="4"> Экзамен </ion-col>
        <ion-col [size]="2"> 5 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [size]="6"> Процессы разработки </ion-col>
        <ion-col [size]="4"> Экзамен </ion-col>
        <ion-col [size]="2"> 5 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [size]="6"> Процессы разработки </ion-col>
        <ion-col [size]="4"> Экзамен </ion-col>
        <ion-col [size]="2"> 5 </ion-col>
      </ion-row>
    </ion-grid>
    <div class="semester">
      <ion-button color="primary">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <span class="semester-label">Семестр 3</span>
      <ion-button color="primary">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
