<ion-item class="list-item" [routerLink]="[student.id]">
  <ion-avatar slot="start">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDmXKGtyS5klcNlruWA5SEDx4gr0YckGnHkA&usqp=CAU"
    />
  </ion-avatar>
  <ion-label class="label">
    <div class="info">
      <span class="user-name">{{ student.userName }}</span>
      <div class="specializations">
        <ion-badge
          *ngFor="
            let specialization of student.specializationNames;
            let index = index
          "
          class="specialization"
          [color]="colors[index % colors.length]"
          >{{ specialization }}</ion-badge
        >
      </div>
    </div>
    <span>{{ student.score }}</span>
  </ion-label>
</ion-item>
