.company-account {
  &__item {
    margin-bottom: 32px;
  }

  &__student-name {
    margin-right: 8px;
  }

  &__date {
    margin-right: 16px;
  }
}
.addition-select {
  &__row {
    display: flex;
    justify-content: space-between;
  }
}
