.list-item {
  &:hover {
    cursor: pointer;
    --background: #dce9ff;
    --border-radius: 3px;
  }

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;

      .user-name {
        margin-bottom: 5px;
      }

      .specializations {
        .specialization {
          margin-right: 5px;
        }
      }
    }
  }
}
